<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Contact App</h1>
    <div class="buttons">
      <button id="allContactBtn" class="button">All Contacts</button>
      <button id="usContactBtn" class="button">US Contacts</button>
    </div>
  </div>

  <div id="modalA" class="modal">
   
  </div>

  <div id="modalB" class="modal">
 
  </div>

  <div id="modalC" class="modal">
  
  </div>

  <script src="/script.js"></script>
</body>
</html>
